.nav-link {
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

#imgalt {
	float: left;
	padding-bottom: 12px;
}

.fontmont {
	font-family: 'Montserrat', sans-serif;
}

.imgcir {
	background-color: #ddd;
	border-radius: 100%;
	height: 130px;
	object-fit: cover;
	width: 130px; 
	margin-bottom: 6px;
}

.imgcir2 {
	background-color: #ddd;
	border-radius: 100%;
	height: 180px;
	object-fit: cover;
	width: 180px; 
	margin-bottom: 6px;
}

.imgbrd {
	height: 151px;
	object-fit: cover;
	width: 324px; 
	margin-bottom: 6px;
}

.col-md-4 {
	margin-top: 22px;
}

a:link {
    color: #7D7D7D;
}

a:visited {
    color: #7D7D7D;
}

a:hover {
    color: #B8B8B8;
}

html { 
	scroll-behavior: smooth;
}

.nav-anc {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -49px;
    background-color: transparent;
    z-index: -1;
}

.nav-anc2 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -100px;
    background-color: transparent;
    z-index: -1;
}